<div class="main row">
  <section class="twelve columns">

    <table id="raas-info-list" class="table-row-hover" style="white-space:nowrap;">

      <h3>Nodes</h3>

      <thead>
        <tr>
          <th>Rl</th>
          <th>Role</th>
          <th>Address</th>
          <th>Hostname</th>
          <th>Shards</th>
          <th>ShardsMax</th>
          <th>Cores</th>
          <th>Version</th>
          <th>Rack</th>
          <th>Status</th>
          <th>AvailableRam</th>
          <th>AvailableRamMax</th>
          <th>Ram</th>
          <th>RamMax</th>
          <th>Cluster</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @nodes.each do |node| %>
          <tr>
            <td><%= node.rl_id %></td>
            <td><%= node.role %></td>
            <td><%= node.address %></td>
            <td><%= node.fqdn %></td>
            <td><%= node.num_shards %></td>
            <td><%= node.num_shards_max %></td>
            <td><%= node.cores %></td>
            <td><%= node.version %></td>
            <td><%= node.rack %></td>
            <td><%= node.status %></td>
            <td><%= number_to_human_size(node.available_ram) %></td>
            <td><%= number_to_human_size(node.available_ram_max) %></td>
            <td><%= node.ram %></td>
            <td><%= node.ram_max %></td>
            <td><%= node.cluster.name %></td>
            <td><%= link_to('shards', shards_path(node_id: node.id)) %></td>
            <td><%= link_to('dbs', dbs_path(node_id: node.id)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
