<%= form_with(model: node, local: true) do |form| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rl_id %>
    <%= form.number_field :rl_id, id: :node_rl_id %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :node_role %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :node_address %>
  </div>

  <div class="field">
    <%= form.label :hostname %>
    <%= form.text_field :hostname, id: :node_hostname %>
  </div>

  <div class="field">
    <%= form.label :num_shards %>
    <%= form.number_field :num_shards, id: :node_num_shards %>
  </div>

  <div class="field">
    <%= form.label :num_shards_max %>
    <%= form.number_field :num_shards_max, id: :node_num_shards_max %>
  </div>

  <div class="field">
    <%= form.label :cores %>
    <%= form.number_field :cores, id: :node_cores %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :node_version %>
  </div>

  <div class="field">
    <%= form.label :rack %>
    <%= form.text_field :rack, id: :node_rack %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :node_status %>
  </div>

  <div class="field">
    <%= form.label :available_ram %>
    <%= form.text_field :available_ram, id: :node_available_ram %>
  </div>

  <div class="field">
    <%= form.label :available_ram_max %>
    <%= form.text_field :available_ram_max, id: :node_available_ram_max %>
  </div>

  <div class="field">
    <%= form.label :ram %>
    <%= form.text_field :ram, id: :node_ram %>
  </div>

  <div class="field">
    <%= form.label :ram_max %>
    <%= form.text_field :ram_max, id: :node_ram_max %>
  </div>

  <div class="field">
    <%= form.label :cluster_id %>
    <%= form.text_field :cluster_id, id: :node_cluster_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
