<p id="notice"><%= notice %></p>

<p>
  <strong>Rl:</strong>
  <%= @node.rl_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @node.role %>
</p>

<p>
  <strong>Address:</strong>
  <%= @node.address %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @node.hostname %>
</p>

<p>
  <strong>Num shards:</strong>
  <%= @node.num_shards %>
</p>

<p>
  <strong>Num shards max:</strong>
  <%= @node.num_shards_max %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @node.cores %>
</p>

<p>
  <strong>Version:</strong>
  <%= @node.version %>
</p>

<p>
  <strong>Rack:</strong>
  <%= @node.rack %>
</p>

<p>
  <strong>Status:</strong>
  <%= @node.status %>
</p>

<p>
  <strong>Available ram:</strong>
  <%= @node.available_ram %>
</p>

<p>
  <strong>Available ram max:</strong>
  <%= @node.available_ram_max %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @node.ram %>
</p>

<p>
  <strong>Ram max:</strong>
  <%= @node.ram_max %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @node.cluster %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
