<p id="notice"><%= notice %></p>

<p>
  <strong>Rl:</strong>
  <%= @endpoint.rl_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @endpoint.role %>
</p>

<p>
  <strong>Ssl:</strong>
  <%= @endpoint.ssl %>
</p>

<p>
  <strong>Db:</strong>
  <%= @endpoint.db %>
</p>

<p>
  <strong>Node:</strong>
  <%= @endpoint.node %>
</p>

<%= link_to 'Edit', edit_endpoint_path(@endpoint) %> |
<%= link_to 'Back', endpoints_path %>
