<p id="notice"><%= notice %></p>

<p>
  <strong>Rl:</strong>
  <%= @shard.rl_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @shard.role %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @shard.slots %>
</p>

<p>
  <strong>Used memory:</strong>
  <%= @shard.used_memory %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shard.status %>
</p>

<p>
  <strong>Db:</strong>
  <%= @shard.db %>
</p>

<p>
  <strong>Node:</strong>
  <%= @shard.node %>
</p>

<%= link_to 'Edit', edit_shard_path(@shard) %> |
<%= link_to 'Back', shards_path %>
